<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> <!-- does not need to be passed @users because it assumes that it has to use it because of it belonging to the user controller -->

<ul class="users">
  <%= render @users %>
  <!-- Iterates through user list and automatically uses the _user partial -->
</ul>

<%= will_paginate %>